body {
	/* Setup flexbody body */
	display: flex;
	min-height: 100vh;
	max-height: 100vh;
	flex-direction: column;
	animation: fadeIn 2s;
}

main {
	/* Fill screen pinning footer to bottom */
	flex: 1 0 auto;

	/* Center align content */
	display: flex;
	align-items: center;
	justify-content: center;
}

html { 
	/* Set background image */
	background: url(../images/image1.jpg) no-repeat center center fixed; 
	background-size: cover;
}

/* Currently unused on site */
.btn.blue-grey.darken-2:hover {
	/* Lighten button on hover - materialize doesn't support this natively on custom
		coloured buttons. Color set to match blue-grey without darken */
	background-color: #607d8b !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    5% {
    	opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.page-footer {
	/* Remove padding as only copyright line used*/
	padding-top: 0px;
}

#profile-pic {
	/* Set profile picture to fixed size */
	width: 100px;
}